.dart_tool/
.pub/
build/
.build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.env
*.log

# Service Account Key - GITHUB'A ASLA ATMA!
assets/credentials/
service-account.json

# Firebase config dosyaları hariç tutma
!google-services.json
!GoogleService-Info.plist